3==0.0.0
3-1==1.0.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.10
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cycler==0.10.0
distlib==0.3.1
Django==2.2.7
django-model-utils==3.1.2
django-wishlist==1.0
et-xmlfile==1.0.1
Faker==4.14.0
filelock==3.0.12
idna==2.10
importlib-metadata==3.1.1
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.6.1
matplotlib==3.1.2
mysql-connector-python==8.0.25
numpy==1.17.4
openpyxl==3.0.2
Pillow==8.0.1
pipenv==2020.11.15
pycparser==2.20
pygame==2.0.1
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.0
six==1.13.0
soupsieve==2.0.1
sqlparse==0.4.1
text-unidecode==1.3
urllib3==1.26.2
virtualenv==20.2.1
virtualenv-clone==0.5.4
zipp==3.4.0
