{% extends 'base.html' %} 

{% block content %} 
<  <main role="main" class="inner cover">
    <h1 class="cover-heading">About Uzoma Nwachukwu.</h1>
    <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Back-End Developer</h3>
    </div>
    <br>
  </header>
    <p class="lead">.Creative Back-End Developer with 12+ years of first-hand
       expertise in Software Architecture, 
       Scrum & Agile areas with willingness to learn and master RESTful & APIs and Front-End Development.
       Web Servers Administration specialist.</p>
    <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">CONTACTS</h3>
      <br>
      <ul>
        <li>Phone: 08131577562</li>
        <li>Email: uzomaknwachukwu@gmail.com</li>
        <li>Github: @Uzomzii</li>
      </ul>
    </div>
  </header>
  <br>
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"></h3>
    </div>
  </header>
  <br>
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Key Skills</h3>
    </div>
  </header>
  <br>
  <p>Front End:</p>
  <ul>
    <li>HTML, CSS and JavaScript</li>
    <li>ReactJS</li>
  </ul>
  <p>Back End</p>
  <ul>
    <li>Django</li>
    <li>Heroku</li>
    <li>NET Core</li>
  </ul>
  <p>Databases</p>
  <ul>
    <li>NoSQL, ROLAP</li>
    <li>MySQl</li>
  </ul>
  <p>SDLC</p>
  <ul>
    <li>Agile</li>
    <li>Waterfall</li>
  </ul>


    <p class="lead">
      <a href="{% url 'form' %}" class="btn btn-lg btn-secondary">Fill form</a>
    </p>
  </main 

{% endblock content %}